* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
    color: #8693b2;
}

@font-face {
    font-family: "Roboto";
    src: url(font/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

body {
    background-color: #061930;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}


ul {
    text-align: right;
    list-style:none;
    /*font-size: 10px;*/

}

.navbar {
    margin: 1rem;
    height: 10vh;
    width: 100%;
    justify-content: space-around;

}

.navbar> li > a {
    color: #8693b2;
    font-size: 25px;
}


header a {
    text-decoration: none;
    color: white;
}

.navbar li {
    color: #02ac99;
    display: inline-block;
    border-radius: 15px;
    width: 130px;
    height: 4rem;
    padding-top: 0.75rem;
    text-align: center;
    margin-right: 0.25rem;

}

.navbar li a:hover {
    color: #02ac99;

}

.nombre {
    margin: 3rem;
}

.presentacion {
    color: white;
    font-size: 40px;
    text-align: left;
    display: block;
    margin-top: 10rem;
    margin-left: 28rem;
}

.presentacion > p {
    font-size: 30px;
    color:#02ac99;
}

.presentacion2 {
    color: #8693b2;
    font-size: 70px;
    text-align: center;
    display: block;
    margin-top: 5rem;
}


.iconos {
    display: block;
    text-align: center;
    margin-top: 5rem;
}

.sql {
    width: 6rem;
}

.boton{
   font-size: 30px;
   text-align: center;
}

.botonSobreMi {
    cursor: pointer;
    color: #02ac99;
    background-color: #061930;
    border: 3px solid #02ac99;
    padding: 1rem;
    font-size: 40px;
    margin-top: 10rem;
}


.botonSobreMi:hover {
    background: #02ac9865;
    transition-duration: 0.5s;
}

.redesSociales {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.redesSociales ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;          /* espacio entre íconos */
}

.redesSociales li {
    display: inline-block;
    margin-top: 3rem;
}

.redesSociales img {
    width: 40px;
    background-color: #02ac99;
    border-radius: 13px;
}

.redesSociales img:hover {
    transform: scale(1.2);      /* agranda el ícono */
    filter: brightness(1.2);    /* le da efecto brillante */
    cursor: pointer;
}

.copyright {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 10rem;
    color: #02ac99;
}

/*Proyectos.html*/

.proyectos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.card {
    position: relative;
    width: 400px;
    height: 450px;
    margin: 40px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;

}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px black;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #02ac99;
    background-color: black;
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: black;
    box-shadow: 0px 5px 10px black;
    padding: 15px;
    color: #02ac99;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 5px 10px black;
}

.card .back .link {
    border-top: 1px solid white;
    height: 50px;
    line-height: 50px;
    margin-bottom: 50px;
}

.card .back .link a {
    color: white;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 200px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/*contacto.html*/
form {
    background: #8693b2;
    color: #02ac99;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: auto;
    font-size: 20px;
}

label {
    color: white;
    display: flex;
    margin-top: 1rem;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 1rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 18px;
    font-size: 20px;
}

button {
    margin-top: 1.5rem;
    background-color: #02ac99;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);      /* agranda el ícono */
    cursor: pointer;
}

/*CV*/
.estudios{
    color: white;
    display: flex;
    border: solid 1px #02ac99;
    margin: 2rem;
}

.estudios >h1 {
    color: #02ac99;
    flex:1;
    margin-left: 2rem;
    border: none;
}

.estudios > ul {
    flex:3;
    margin-right: 10rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.estudios > ul > li{
    color: white;
    list-style: none;
    font-size: 20px;
    margin: 0.2rem;
}

.cv{
    margin-left: 10rem;
}

/*Quién soy*/
.quienSoy{
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 20px;
    gap: 2rem;
    max-width: 1000px;
    margin: 5rem auto;      /* Centrado horizontal */
    padding: 2rem;
    justify-content: center; /* Centra contenido dentro */
}

.quien1{
    flex: 2;
    color: white;
    text-align: justify;
    padding: 2rem;
}

.quien2{
    flex: 1;
    max-width: 300px; /* Límite de tamaño de la imagen */
    width: 100%;
    height: auto;
    padding: 2rem;
    border-radius: 10px; 
    object-fit: cover;
}