*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Atkinson";
}

@font-face {
    font-family: "Atkinson";
    src: url(font/AtkinsonHyperlegibleMono-ExtraBoldItalic.ttf);
}

body {
    background-image: url(img/indexFondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

ul {
    text-align: right;
    list-style: none;
    font-size: 0px;
    
}
header {
    margin-right: 1rem;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    
}

header li {
    display: inline-block;
    border: 3px solid white;
    border-radius: 15px;
    width: 200px;
    height: 4rem;
    padding-top: 0.75rem;
    text-align: center;
    margin: 0.5rem;

}

header li:hover {
    background: #8866a8;
    color: white;
    transition-duration: 1s;
}
.presentacion {
    color: white;
    font-size: 45px;
    text-align: center;
    display: inline-block;
    margin-top: 10rem;
    margin-left: 25%;
}

.fotoPresentacion {
    height: 200px;
}

.iconos {
    display: block;
    text-align: center;
    margin-top: 5rem;
}

.sql{
    width: 6rem;
}

.botonSobreMi {
    cursor: pointer;
    color: #8866a8;
    background: white;
    border: 3px solid #8866a8;
    border-radius: 15px;
    font-size: 35px;
    margin-top: 5rem;
    text-align: center;
    
}

.copyright {
    text-align: center;
    margin-top: 10rem;
}

.botonSobreMi:hover {
    background: #8866a8;
    color: white;
    transition-duration: 1s;
}

.redesSociales {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.redesSociales ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* para alinear a la derecha */
    gap: 1rem; /* espacio entre íconos */
}

.redesSociales li {
    display: inline-block;
}

.redesSociales img {
    width: 40px; 
}

.redesSociales img:hover {
    transform: scale(1.2); /* agranda el ícono */
    filter: brightness(1.2); /* lo hace un poco más brillante */
    cursor: pointer;
}


